# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x +2


add_two(5)

7

In [3]:
(lambda x: x+2)(3)

5

#### Saving to a Variable

In [16]:
f_test = lambda x: x+5

f_test(4)

9

#### Multiple Inputs

In [18]:
def add_all(x, y, z):
    return x+y+z

(lambda x, y, z: x+y+z)(3, 4, 5)

12

#### Passing a Lambda into a Function

In [19]:
def apply_func(f, name):
    return f(name)

def get_first_letter(string):
    return string[0]
apply_func(get_first_letter, 'Keyur')

'K'

In [22]:
apply_func(lambda string: string[-1], 'Keyur')

'l'

#### Returning a Lambda from a Function

In [24]:
# regular def function

def create_multiplier(num):
    def inner_func(x):
        return num * x
    return inner_func

five = create_multiplier(5)

five

In [27]:
five(32)

160

In [30]:
def new_multiplier(num):
    return lambda x: num*3
three = new_multiplier(3)
three(3)

9

#### If Statements within Lambdas

In [36]:
def do_some(num):
    if num>10:
        return num*2
    else:
        
        return num+2
do_some(11)

22

In [33]:
def do_some_again(num):
    return num*2 if num>10 else num+2
do_some_again(9)

11

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [40]:
f_test2 = lambda z: z ** 3

print(f_test2(160))
print(f_test2(1000))
print(f_test2(10))

4096000
1000000000
1000

In [41]:
def cube(x):
    return x **3
cube(5)

125

In [42]:
(lambda x: x** 3)(3)

27

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [ ]:
map

In [48]:
def square(a):
    return a**2 -2

numbers =[2, 3, 4, 5, 6, 7]

list(map(square, numbers ))

[2, 7, 14, 23, 34, 47]

In [54]:
nums = [1,2,3,4,5,6,7,8,9]
more_nums=[9,8,7,6,5,4,3,2,1]
def abc(x, y):
    print(f"X={x}, Y={y}")
    return x*y

list(map(abc, nums, more_nums))

X=1, Y=9
X=2, Y=8
X=3, Y=7
X=4, Y=6
X=5, Y=5
X=6, Y=4
X=7, Y=3
X=8, Y=2
X=9, Y=1

[9, 16, 21, 24, 25, 24, 21, 16, 9]

#### Using Lambda's with Map

In [56]:
numbers =[2, 3, 4, 5, 6, 7]
list(map(lambda num: num**2 -2, numbers))

[2, 7, 14, 23, 34, 47]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [82]:
# numbers = [1,2,3,4,5,6,7,8,9,10]

# def split_list_even_odd(numbers):
#     odd_numbers = [number for number in numbers if number % 2 == 1]
#     even_numbers = [(number for number in numbers if number % 2 == 0) (list(map(lambda even: even**2 , even_numbers)))]
#     return odd_numbers, even_numbers
# print(split_list_even_odd(numbers))
# # list(map(lambda even: even**2 , even_numbers))

In [74]:
numbers = [1,2,3,4,5,6,7,8,9,10]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [93]:
names= ['bob', 'Keyur', 'Mark', 'Amy']
def a_names(name):
    if name[0].lower() == 'a':
        return True
    else:
        return False
new_names_list = list(filter(a_names, names))
print(new_names_list)

print(a_names)

['Amy']
<function a_names at 0x7fd69812aa60>

In [95]:
new_names_lamb = list(filter(lambda name: True if name[0].lower() == 'a' else False, names))
print(new_names_lamb)

['Amy']

#### Using Lambda's with Filter()

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [97]:
import random
numb = [random.randint(1,100) for _ in range (20)]
print(numb)

[81, 53, 88, 55, 71, 36, 20, 60, 8, 52, 38, 81, 87, 45, 34, 71, 18, 95, 29, 56]

In [106]:
from statistics import mean
numbers= [55, 57, 55, 88, 88, 20, 86, 38, 99, 61, 12, 37, 31, 4, 92, 20, 47, 64, 38, 35]
print(mean(numbers))

avg = mean(numbers)
print(avg)

def mean_test(name):
    if name < avg:
        return True
    else:
        return False
new_calc = list(filter(mean_test,numbers))
print(new_calc)


below_avg = list(filter(lambda x: True if x <= mean(numbers) else False, numbers))
print(below_avg)

51.35
51.35
[20, 38, 12, 37, 31, 4, 20, 47, 38, 35]
[20, 38, 12, 37, 31, 4, 20, 47, 38, 35]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [107]:
from functools import reduce

In [115]:
list1= [2,4,6,8,10]
def add_nums(num1, num2):
    print('============')
    print(f"num1: {num1}")
    print(f"num1: {num2}")
    return num1+ num2
result_add = reduce(add_nums, list1)
print(result_add)

============
num1: 2
num1: 4
============
num1: 6
num1: 6
============
num1: 12
num1: 8
============
num1: 20
num1: 10
30

#### Using Lambda's with Reduce()

In [116]:
result_lamb= reduce(lambda num1, num2: num1+num2, list1)
result_lamb

30

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [119]:
list2= [2,4,6,8,10]

result_lamb = reduce(lambda x,y: x * y, list2)
print(result_lamb)

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

#### Writing a Factorial Function

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [120]:
def subNums(num):
    if num <= 1:
        print("subNums(1) = 1")
        return num
    else:
        print(f"subNums({num}) = {num} - subNums({num - 1})")
        return num - subNums(num - 1)
    
subNums(5)

subNums(5) = 5 - subNums(4)
subNums(4) = 4 - subNums(3)
subNums(3) = 3 - subNums(2)
subNums(2) = 2 - subNums(1)
subNums(1) = 1

3

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [124]:
def sq_gen(stop,start,step = 1):
    while start >= stop:
        yield start ** 2
        start -= step
        
for i in sq_gen(0,start = 10):
    print(i)

100
81
64
49
36
25
16
9
4
1
0

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [7]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

def city(x):
    if x<= "  ":
        return False
    else:
        return True
    
newcity=list(filter(city,places))
print(newcity)

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [17]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

def authors():
    
    author.sort(key=lambda a: a.split()[1])
    print(author)

authors()

['Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'Victor aNisimov', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [34]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

def Farhenheit():
    temp_in_F = lambda formula: (formula[0], formula[1]*(9/5)+32)
    return temp_in_F

print(list(map(Farhenheit(),places)))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`